<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>picture in picture</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
     <!--video -->
     <video src="" id="video" controls height="360" width="640"></video>
     <!--button -->
    <div class="button-container">
        <button id="button">START</button>
    </div>

    <!-- Script -->
    <script src="{% static 'js/home.js' %}"></script>
</body>
</html>